:root
{
    --blanco:#ffffff;
    --oscuro:#212121;
    --primario:#ffc107;
    --secundario:#0097a7;
    --gris:#757575;

}

html
{
    font-size: 62.5%;
}

body
{
    font-size: 16px;
    font-family: 'Krub', sans-serif;
}

.titulo
{
    font-size: 3.2rem;
    text-align: center;
        
}

.titulo span
{
    font-size: 2rem;
}